<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-button fill="clear" color="dark" size="large" href="">
        Movie Rating App
      </ion-button>
      <!-- <ion-button fill="clear" color="dark">
        Men
      </ion-button>
      <ion-button fill="clear" color="dark">
        Women
      </ion-button>
      <ion-button fill="clear" color="dark">
        Accessories
      </ion-button>
      <ion-button fill="clear" color="dark">
        Profile
      </ion-button> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-item>
    <h3>Profile</h3>
  </ion-item>
  <div class="flex-center">
    <ion-card>
      <ion-card-content>
        <ion-col size-xl="3" size-lg="12" size-md="6" size-xs="6">
        <a>
          Name
          {{userData.userName}}
        </a>
        </ion-col>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>