
.rateStar {
    font-size: 20px;
    color: orange;
    text-align: left;

}

.image {
    width: 300px;
    height: 300px;
    object-fit: fill;
}

#hp {
    float: right;
    margin: 0 0 0 15px;
}

.button {
    width: 30px;
    height: 25px;
}

.card {
    display:contents;
    flex-direction: column;
    width: 1% !important;
}
