ion-button[color="black"] {
    text-transform: initial;
}

ion-content {
    --ion-background-color: #f7f7f7;
}


.center {
    display: flex;
    justify-content: center;
}

ion-img {
    // float: right;
    width: 80px;
    height: 80px;
    object-fit: fill;
}


.btn-google {
    border-radius: 2px;
    font-size: 16px;
    padding: 10px 19px;
    cursor: pointer;
    color: #000000;
    background-color: #fafafa;
    box-shadow: 0 1px 2px 1px rgb(99, 107, 107);
}


.grid {
    display: grid;
    grid-gap: 2px;
    height: 108%;
    display: flex;
    justify-content: center;
    align-items: center;
}
