<ion-content>
  <div class="flex-center">
    <form [formGroup]="registerForm">
      <ion-card>
        <ion-card-header>
          <div class="center">
            <ion-card-title style="color: rgb(78, 78, 247)">User Registration Form</ion-card-title>

          </div>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Role</ion-label>
            <ion-select type="radio" formControlName="role">

              <ion-select-option *ngFor="let role of userRole">{{role}}</ion-select-option>
            </ion-select>
            <div style="color:red"
              *ngIf="registerForm.get('role').invalid && (registerForm.get('role').dirty || registerForm.get('role').touched)">
              field is required.
            </div>
          </ion-item>

          <ion-item>
            <ion-label position="floating">User Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
            <div style="color:red"
              *ngIf="registerForm.get('name').invalid && (registerForm.get('name').dirty || registerForm.get('name').touched)">
              field is required.
            </div>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Email Address</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
            <div style="color:red"
              *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
              field is required.
            </div>
          </ion-item>

          <ion-item>
            <ion-label position="floating">User Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
            <div style="color:red"
              *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
              field is required.
            </div>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password" formControlName="confirm_password"></ion-input>
            <div style="color:red"
              *ngIf="registerForm.get('confirm_password').invalid && (registerForm.get('confirm_password').dirty || registerForm.get('confirm_password').touched)">
              field is required.
            </div>
          </ion-item>

          <ion-button size="full" [disabled]="!registerForm.valid" (click)="register()"
            id="loginButton">
            REGISTER
          </ion-button>
          <ion-button size="full" fill="clear" (click)="login()">LOGIN</ion-button>

        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>