<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-button fill="clear" color="dark" size="large" href="">
        Movie Rating App
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="padding-left: 8%; padding-right: 8%;">
        <form [formGroup]="editMovieForm">
          <ion-card>
            <ion-card-header>
              <div class="center">
                <ion-card-title>Edit Movie</ion-card-title>
              </div>
            </ion-card-header>

            <ion-card-content>

              <ion-item>
                <ion-icon name="camera-sharp"></ion-icon>
                &nbsp;
                <ion-input type="file" enctype="multipart/form-data" formControlName="Picture"
                  (change)="readURL($event)">
                </ion-input>

                <ion-img id="blah" [src]="file" alt="" class="form-control form-control-lg"
                  style="width: 20%; height: 200%;"></ion-img>
                <div style="color:red"
                  *ngIf="editMovieForm.get('Picture').invalid && (editMovieForm.get('Picture').dirty || editMovieForm.get('Picture').touched)">
                  field is required.
                </div>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Description
                  <ion-icon name="document-text-sharp"></ion-icon>
                </ion-label>

                <ion-textarea class="textArea" type="text" formControlName="description"></ion-textarea>
                <div style="color:red"
                  *ngIf="editMovieForm.get('description').invalid && (editMovieForm.get('description').dirty || editMovieForm.get('description').touched)">
                  field is required.
                </div>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Collection
                  <ion-icon name="wallet-sharp"></ion-icon>
                </ion-label>
                <ion-input type="text" formControlName="collection"></ion-input>
                <div style="color:red"
                  *ngIf="editMovieForm.get('collection').invalid && (editMovieForm.get('collection').dirty || editMovieForm.get('collection').touched)">
                  field is required.
                </div>
              </ion-item>

              <ion-button size="full" [disabled]="!editMovieForm.valid" (click)="editMovie()" id="loginButton">
                Edit MOVIE
              </ion-button>

            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>