<ion-content>
  <div class="flex-center">
    <form [formGroup]="loginForm">
      <ion-card>
        <ion-card-header>
          <div class="center">
            <ion-card-title style="color: rgb(78, 78, 247)">Login Page</ion-card-title>
            <ion-icon class="sizes" name="log-in-sharp"></ion-icon>
          </div>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Email Address</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
            <div style="color:red"
              *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)">
              field is required.
            </div>
          </ion-item>

          <ion-item>
            <ion-label position="floating">User Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
            <div style="color:red"
              *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
              field is required.
            </div>
          </ion-item>

          <ion-button fill="clear" size="full" [disabled]="!loginForm.get('email').valid" id="recoverPasswordButton">
            Forget
            email/password</ion-button>
          <ion-button size="full" [disabled]="!loginForm.valid" (click)="login()" id="loginButton">LOGIN
          </ion-button>
          <ion-button size="full" fill="clear" routerLink="/register">REGISTER</ion-button>

          <div style="padding-left: 43%;">
            <a href="http://localhost:8080/user/auth/google">
              <img class="imageSize" src="../../../assets/icon/google.png"></a>
            &nbsp;
            &nbsp;
            <a href="http://localhost:8080/user/auth/facebook">
              <img class="imageSize" src="../../../assets/icon/facebook-logo.png"></a>
            &nbsp;
            &nbsp;
            <a
              href="https://github.com/login/oauth/authorize?client_id=4ebf16cb18e95ae814fa&redirect_uri=http://localhost:8080/user/oauth/redirect">
              <img class="imageSize"
                src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"></a>
          </div>

        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>