/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

ion-img {
  // float: right;
  width: 100%;
  height: 300px;
  object-fit: fill;
}

.rateStar{
  font-size: 20px;
  color: orange;
  text-align: left;
  
}

.rateStar2{
  font-size: 20px;
  text-align: right;
  padding-left:75%;
}

ion-card{
  display: flex;
  flex-direction: column;
  width: 80% !important;
  margin: 30px !important;
}