<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <br><br>
  <ion-item>
    <h3>Movies List</h3>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="3" size-lg="12" size-md="6" size-xs="6" *ngFor="let movie of allmoviesList">

        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>
              <ion-img class="pointer" alt="image" [src]="movie.image? image+movie.image: 'upload'"
                (click)="showMovieDetails(movie._id)"></ion-img>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-icon class="rateStar pointer" name="star-half-outline"></ion-icon>
              {{movie.rates}}
              <ion-icon class="rateStar2 pointer" name="star-outline" (click)="rateMovie(movie._id)"></ion-icon>
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{movie.movieName}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button style="color: blue;" routerLink="/add-movies">
    <ion-icon name="add">
    </ion-icon>
  </ion-fab-button>
</ion-fab>