ion-button[color="black"] {
    text-transform: initial;
}

ion-content {
    --ion-background-color: #f7f7f7;
}


.addMovie {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

ion-icon {
    padding-left: 15px;
}


.textArea[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.sizes {
    color: black;
    font-size: 20px;
}

ion-card{
    // display: flex;
  flex-direction: column;
  width: 80% !important;
//   margin: 30px !important;
}
