.new-background-color {
  --background: #1f1f1f;
}

// .logo {
//   font-size: 20px;
//   font-weight: bold;
// }

.logo {
  font: 1.5em/1 Impact, HelveticaNeue-CondensedBold, sans-serif; // change the font size to whatever
  color: #000;
  text-decoration: none;
  float: left;
  // display: inline-block;
  vertical-align: bottom;
  padding: .10em .18em;
  border-radius: .15em;
  // background: radial-gradient(#ffffb8, #ce981d);
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px;
  border-right: none;
  height: 35px;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
}


/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 55%;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  // border-style: groove;  
  // border-radius: 5px;
}

.btn {
  margin-left: 30px;
}

.topnav {
  overflow: hidden;
}


.topnav .add-Movie{
  float: left;
  color: white;
  padding-top: 5px;

}

.topnav .login-container {
  float: right;
  color: rgb(242, 242, 242);
  padding-top: 2px;
}


.topnav .profile-icon {
  float: right;
  color: white;
}

.topnav .menu-icon {
  float: right;
  color: white;
  float: left;
  margin-left: 8px
}


ion-icon {
  margin-right: 3px;
  /* Adjust the spacing between the icon and text */
}

.header-divider {
  width: 2px;
  /* Adjust the width of the line as needed */
  height: 37px;
  /* Adjust the height of the line as needed */
  background-color: #4e4e4e;
  /* Set the color of the line */
  margin: 0 15px;
  /* Adjust the margin to control spacing */
}

.topnav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.menu-bar li {
  padding: 15px 20px;
  position: relative;
}

/* Style the menu bar */
.menu-bar {
  background-color: #232323;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  
}

.menu-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.menu-bar li {
  padding: 15px 20px;
  position: relative;
}

.menu-bar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.menu-bar a:hover {
  color: #f5c518;
}

/* Style the dropdown menu */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #232323;
  min-width: 100px;
  z-index: 1;
  border-top:50px solid #f5c518;
}

.dropdown-content a {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: white;
}

.dropdown-content a:hover {
  background-color: #f5c518;
  color: #232323;
}

.icons{
  color: #f5c518;
}

ion-icon{
  width: 25px;
}