<!-- <ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>
      <div class="topnav">
        <button type="button" class="btn btn-warning logo"><b>IMRA</b></button>

        <div class="wrap">
          <div class="search">
            <input type="text" class="searchTerm" placeholder="Search IMRa">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="login-container">
          <button type="button" class="btn btn-light" routerLink="/login"><b>Sign in</b></button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header> -->