ion-card {
    display: flex;
    flex-direction: column;
    width: 418% !important;
    height: 100% !important;
    padding-left: 10%;
    padding-right: 10%;
}

ion-col {
    padding-left: 2%;
}

ion-img {
    // float: right;
    width: 25%;
    height: 450px;
    object-fit: fill;
}

.rateStar{
    font-size: 20px;
    color: orange;
    text-align: left;
    
  }

.keys{
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding-right: 80px;
  }

.values{
    color: rgb(39, 39, 223);
    font-size: 16px;
}

.headding{
    color: black;
    font-weight: bold;
    border-left: 8px solid yellow;
    font-size: 35px;
    padding-left: 10px;
  }