ion-card {
    display: flex;
    flex-direction: column;
    width: 418% !important;
    height: 100% !important;
    padding-left: 10%;
    padding-right: 10%;
}

ion-col {
    padding-left: 2%;
}

ion-img {
    // float: right;
    width: 22%;
    height: 420px;
    object-fit: fill;
}

.rateStar {
    font-size: 20px;
    color: orange;
    text-align: left;

}

.keys {
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding-right: 50px;
}

.align {
    text-align: center;
}

.values {
    color: rgb(39, 39, 223);
    font-size: 16px;
}

img {
    width:8%;
    display: block;
    height: 125px;
    border-radius: 50%;
    float: left;
    object-fit: fill ;
    margin-bottom: 30px;
}

.castvalues{
    color: rgb(39, 39, 223);
    font-size: 16px;
    align-items: start;
}

.castkeys {
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding-left: 40px;
    padding-top: 45px;
}

.underClas{
    color: black;
    font-weight: bold;
    margin-left: 20px;
}

.headding {
    color: black;
    font-weight: bold;
    border-left: 8px solid yellow;
    font-size: 35px;
    padding-left: 10px;
}

.cast {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.text {
    color: black;
    font-size: 16px;
    margin-left: 2%;
}



// display: inline;